/* Start Footer-Title css */
.footer-title {
	width: 100%;
	margin-top: 40px;
}
.footer-title-content {
	width: 80%;
	height: 300px;
	margin: auto;
	padding-top: 6px;
	border: solid;
	border-color: #CCCCCC;
	border-width: 3px;
	border-radius: 7px;

}
.footer-title-content h1 {
	text-align: center;
	color: black;
}

.footer-title-content h2 {
	color: black;
	font-size: 25px;
	padding-left: 30px;
	font-weight: bold;
}

.footer-title-content h2 span {
	color: red;
	display: inline-block;
}

.footer-title-content p {
	padding-left: 32px;
	font-size: 17px;
	font-weight: bold;
}

.footer-title-content p span {
	color: red;
	display: inline-block;
}

.footer-title-content a {
	margin-top: 20px;
	width: 200px;
	text-align: center;	
}

/* End Footer-Title css */
/* Start List-image css */
.List-image {
	margin-top: 70px;
	margin-left: 140px;
}
.List-image img {
	padding: 10px;
	width: 650px;
	height: 370px;
}

/* End List-image css */
