body {
	margin: 0;
}

.clear{
	clear: both;
}

/* Start Header css */
.header {
    width: 100%;
    background-color: #444;
    padding: 15px 0;
}
.myNavbar {
	    background: rgba(0, 0, 0, 0.88);
}
@keyframes animatedown {
    0%{-webkit-transform:translateY(-100%);transform:translateY(-100%)}
    100%{-webkit-transform:translateY(0);transform:translateY(0)}
}


.fixed {
    position: fixed !important;
    top: 0px;
    z-index: 99;
    width: 100%;
    transition: top 0.3s;
    animation: animatedown 0.6s;
}

[class^='clearfix'] {
    clear: both;
    display: block;
}

.header-content{
	width: 80%;
	margin: 0 auto;
	color: white;
}

.header-content i, .header-content span {
	margin-right: 10px;
}

.header-content span{
	font-weight: bold;
}

.header-content a img {
	float: right;
	margin-left: 10px;	
}
/* End Header css */

/* Start NavBar css */
.myNavbar-brand, .myNavbar-menu, .social {
	float: left;
}


.myNavbar-brand img{
	max-width: 100%;
    height: auto;
}
.myNavbar-menu ul {
	list-style: none;
}
.myNavbar-menu ul li {
	float: left;
	margin-right: 2.5rem;
}
.myNavbar-menu ul li a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
}

.myNavbar-menu ul li.active a {
	color: #1f22db;
}

.myNavbar-menu ul li a:hover {
    color: #002bff;
}

.social-item a {
	color: black;
	text-decoration: none;
	font-weight: bold;

}

.social-item a.btn_click{
	border: 1px solid #eaeaea;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    padding: 7px 5px;
    text-decoration: none;
}

.social-item a:hover {
	color: #1f21db; 
}
/* End NavBar css */

/* Start Slide */
.item img {
	width: 100%;
	height:  100%;
}

.item {
	position: absolute;
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-position: center center;
}
/* End Slide */

/* Start List */
.about-us {
	margin-top: 60px;
	width: 100%;
}

.about-us-content {
	margin: auto;
}

.about-us-caption {
	text-align: center;
}
.about-us-caption h1 {
	font-weight: bold;	
}

.about-us-caption h2 {
	font-weight: bold;
	margin-top: 30px;		
}

.about-us-list {
	width: 100%;
	margin-top: 35px;
}

.about-us-list-item {
	width: 25%;
	float: left;
	text-align: center;
	padding-top: 20px;
}

.about-us-list-item img {
	width: 100%;

}

.about-us-list-item a {
	font-size: 20px;
	color: #F4A460;
}
.about-us-list-item a.btn_click {
	    background-color: grey;
    border: 1px solid grey;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    padding: 7px 5px;
    text-decoration: none;
    /* margin-right: 105px; */
    margin: auto;
    width: 100%;
    box-shadow: 5px 5px 5px #928d8d;

}
.about-us-list-item a.btn_click:hover {
	    color: #1f22db;
    background: #0d080957;
}

/* End List css*/

/* Start Footer css*/
.footer {
	width: 100%;
	background: black;
	padding-top: 15px;
}

.footer-content {
	width: 80%;
	margin: auto;
}
.footer-detail {
    float: left;
    width: 33%;
    color: white;
}
.footer-contact {
	width: 34%;
}
.footer-detail h2 {
	font-weight: 200;
	font-size: 28px;
}
.footer-detail p {
	font-weight: 50;
	font-size: 16px;
}
.footer-contact p {
	margin-right: 3rem;
}
.footer-about-us p {
	margin-right: 3.5rem;
	line-height: 2.6rem;
}
.footer-team p {
	margin-left: 4.5rem;
}
.footer-team h2 {
	margin-left: 4.5rem;
}
.footer-last p {
	color: #F4A460;
	text-align: center;
	margin-top: 50px;
	font-weight: 100;
	font-size: 20px;

}
/* End Footer css*/

/*----------menu----------*/
a.navbar-btn.navbar-right.btn_click{
	    padding: 5px 15px;
}
#myHeader{
	    padding: 15px 0;
}
#myHeader .myNavbar-menu{
	    padding: 15px 10px 15px 70px;
}
.navbar-btn.register {
	margin-right: 20px;
}
/*--------------------------------------*/
.about-us-list-item {

    border-radius: 5px;
    padding-bottom: 10px;
}
.about-us-list-item img {
	box-shadow: 5px 5px 5px #444;
    margin-bottom: 15px;
}
.about-us-list-item.col-lg-6 img{
	height: 565px;
    object-fit: cover;
}
/*---------------------------------slide gt thành viên------------------------*/

#carousel{
	margin-top: 70px;
	height: 500px;
	background-image: url(https://camnang24h.net/wp-content/uploads/2019/03/hinh-nen-tuong-Aatrox-trong-lien-minh-huyen-thoai-12.jpg);
	
}
section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color:#221d19;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
.profile-circle{
	    border: solid #fff;
	background-position: center;
	width: 150px!important;
	height: 150px !important;
	border-radius: 150px !important;
}
#carousel .carousel-inner{
	margin-top: -100px;
}
.aubout .item h3{
	color: #000;
}
.aubout .item h4{
	color: #fff;
}
.aubout .item p{
	color: #c7bbbb;
}
.carousel-indicators li.active{
	background-color: #fff!important;
}
.decoration-inside{
	height: 1px;
    display: inline-block;
    border-top: 1px solid #d6d6d6;
    width: 100%;
    max-width: 40%;
}
.decoration:after{
	color: #000;
	content: '\f005';
    font-family: 'FontAwesome';
    z-index: 1;
    font-weight: normal;
    font-size: 19px;
    left: 50%;
    margin-top: -10px;
    margin-left: -15px;
    position: absolute;
    background: #fff;
    padding: 15px 7px;
    border: 1px solid #d6d6d6;
    border-radius: 50%;
}
.decoration{
line-height: 0em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*-----------------------------footer---------------------------------*/
.site-footer{
	padding:0px;
	background: #1A1A1A;
	color: #666;
	font-size: 14px;

}
.site-footer .footer-columns{
	padding: 35px 0 25px 0;
}
.site-info-wrapper{
	font-size: 16px;
	background: #161616;
	line-height: 50px;
}
.site-info-wrapper div a {
	color: #fff !important;
}
@media screen and (min-width: 1100px){
.footer-4-columns .footer-column {
    width: 25%;
    float: left;
    margin-right:0%;
}}
@media (min-width: 1200px){
footer .footer-column {
    margin-bottom: 0;
}}
.site-footer .footer-columns .footer-column .widget {
    padding-bottom: 0;
    margin-bottom: 30px;
    border: none;
}
.site-footer .widget {
    font-size: 14px;
    line-height: 1.8;
}
.site-footer .footer-columns .footer-column .widget .widget-title {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 1px solid #444;
    position: relative;
    font-weight: normal;
    padding-bottom: 10px;
}
.widget img {
    max-width: 100%;
    height: auto;
}
.contact-info ul.info {
    font-size: 14px;
    padding-left: 0px !important;
}
.site-footer .widget .calendar_wrap caption, .site-footer .widget .calendar_wrap thead, .site-footer .widget .calendar_wrap #today, .site-footer .widget ul li, .site-footer .widget .rss-date, .site-footer .widget .rssSummary, .site-footer .widget p, .site-footer .widget caption, .site-footer .widget a, .site-footer a {
    color: #dddddd;
}
.contact-info ul.info li i {
    font-size: 18px;
    margin-right: 5px;
}
.fa-home:before {
    content: "\f015";
}
.contact-info ul.info li span {
    color: #666;
}
.footer-column .widget_wpnetbase_social_media_widget a.nbt-social-media-icon {
    color: #1a1a1a;
    background: #444444;
    border-radius: 100%;
    margin-right: 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 35px;
    height: 35px;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: fontawesome !important;
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
}
.site-footer .footer-columns .footer-column .widget .widget-title {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 1px solid #444;
    position: relative;
    font-weight: normal;
    padding-bottom: 10px;
    color: #24b5e1;
    width: 220px;
}
.site-footer .footer-columns .footer-column .widget .widget-title:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 40px;
    height: 1px;
        background: #25bce9;
}
@media (min-width: 992px){
.col-md-10 {
    width: 83.33333%;
    float: left;
}}
.site-footer .footer-columns .widget_nav_menu ul li a:hover {
    color: #25BCE9;
}
.site-footer .footer-columns .widget_nav_menu ul li a:hover {
    text-decoration: none;
    padding-left: 15px;
}
.site-footer .footer-columns .widget_nav_menu ul li a {
    display: block;
    position: relative;
    color: #666;
    font-size: 14px;
}
.site-footer .footer-columns .widget_nav_menu ul li a:hover:before {
    content: "\f105";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    color: #25BCE9;
}
#colophon .menu{
	padding-left: 0px !important;
}
#wpnetbase_contact_info_widget-5 .contact-info .info li i:hover {
	color: #25BCE9;
}
.footer-column .widget_wpnetbase_social_media_widget a.nbt-social-media-icon:hover {
    color: #fff;
}
.owl-carousel .owl-dots .owl-dot.active, ul.products.list li.product .product-list-content-info .gridlist-buttonwrap > a.button, .woocommerce ul.products.list li.product .product-list-content-info .gridlist-buttonwrap .yith-wcwl-add-to-wishlist, .btn-secondary, .custom-heading .heading-line.secondary, .widget_wpnetbase_social_media_widget a.nbt-social-media-icon:hover {
    background-color: #25bce9;
}
#printshop-subcribe .form-group {
    float: left;
    width: 70%;
}
@media (min-width: 768px){
.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}}
.site-footer textarea, .site-footer input[type="date"], .site-footer input[type="datetime"], .site-footer input[type="datetime-local"], .site-footer input[type="email"], .site-footer input[type="month"], .site-footer input[type="number"], .site-footer input[type="password"], .site-footer input[type="search"], .site-footer input[type="tel"], .site-footer input[type="text"], .site-footer input[type="time"], .site-footer input[type="url"], .site-footer input[type="week"] {
    border-color: rgba(255, 255, 255, 0.3);
}
.subcriber-widget button.btn {
    width: 30%;
    padding: 5px 3px;
    border: 1px solid;
    height: 33px;
    color: #fff;
}
.subcriber-widget button.btn{
	background: #25bce9;
}
.subcriber-widget input{
	height: 27px;
	width: 100% !important;
}#mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link, #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-item.mega-current-menu-ancestor > a.mega-menu-link, #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-item.mega-current-page-ancestor > a.mega-menu-link{
	background: transparent !important;
}
li{
	list-style: none;
}
/*-------------------------------dịch vụ----------------------------------*/
/* FONT AWESOME & not necessary for functions */
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

body {
    padding-top: 15px;
    background-color: #f9f9f9;
}

/*REQUIRED*/


.slide-row {
    padding: 0;
    background-color: #ffffff;
    min-height: 150px !important;
    border: 1px solid #e7e7e7;
    overflow: hidden;
    height: auto !important;
    position: relative;
}


.slide-carousel {
    width: 70%;
    float: left;
    display: inline-block;
}

.slide-carousel .carousel-indicators {
    margin-bottom: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}

.slide-carousel .carousel-indicators li {
    border-radius: 0;
    width: 20px;
    height: 6px!important;
}

.slide-carousel .carousel-indicators .active {
    margin: 1px;
}

.slide-content {
    position: absolute;
    top: 0;
    left: 70%;
    display: block;
    float: left;
    width: 30%;
    max-height: 76%;
    padding: 1.5% 2% 2% 2%;
    overflow-y: auto;
}

.slide-content h4 {
    margin-bottom: 3px;
    margin-top: 0;
}

.slide-footer {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 78%;
    height: 20% !important;
    margin: 1%;
}

/* Scrollbars */
.slide-content::-webkit-scrollbar {
  width: 5px;
}
 
.slide-content::-webkit-scrollbar-thumb:vertical {
  margin: 5px;
  background-color: #999;
  -webkit-border-radius: 5px;
}
 
.slide-content::-webkit-scrollbar-button:start:decrement,
.slide-content::-webkit-scrollbar-button:end:increment {
  height: 5px;
  display: block;
}