/* Start Footer-Title css */
.footer-title {
	width: 100%;
	margin-top: 40px;
}


.wrap {
	margin-bottom: 70px;
}

.footer-title-content {
	width: 80%;
	height: auto;
	background: #FFF8DC;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
}
.footer-title-content h1 {
	text-align: center;
	font-style: bold;
	color: black;	
}
.footer-title-content h2 {
	text-align: center;
	font-style: bold;
	font-size: 20px;
	color: black;
	padding: 0 20px 0 20px;
}
.footer-title-content p {
	text-align: center;
	color: black;
	font-size: 15px;
}
.footer-title-content h3 {
	text-align: center;
	font-size: 20px;
	color: red;

}
/* End Footer-Title css */
/* Start List */
.about-us {
	margin-top: 50px;
	width: 100%;
}

.about-us-content {
	width: 80%;
	margin: auto;
}

.about-us-list {
	width: 100%;
	margin-top: 35px;
}

.about-us-list-item {
	width: 25%;
	float: left;
	text-align: center;
	padding-top: 20px;
}

.about-us-list-item p {
	font-size: 15px;
	margin-top: 10px;
	font-weight: bold;
}

.about-us-list-item h1 {
	color: red;
	font-size: 17px;
	margin-top: 10px;
}

.about-us-list-item img {
	width: 260px;
	height: 190px;
}

.about-us-list-item a.btn_click {
	background-color: #33CCFF;
	border: 1px solid #33CCFF;
	color: white;
	border-radius: 5px;
	font-weight: bold;
	font-size: 18px;
	padding: 6px 5px;
	width: 90% !important;
	text-decoration: none;
	margin-right: 15px;
}
.about-us-list-item a.btn_click:hover {
	color: yellow;
}

/* End List css */
