.form {
	margin-top: 20px !important;
}

.control-label {
	text-align: left !important;
}

table#mytable, table#mytable td, #mytable th {
	border: none !important;
}

.table-checkout {
	margin-top: 60px !important;
}

.form-buy {
	display: inline-block;
}