.newsinfor {
	width: 100%;
	margin-top: 50px;
}

.newsinfor-content {
	margin: auto;
}

.menuaccount p {
	font-weight: bold;
}

.menuaccount {
	width: 30%;
	margin-top: 50px;
}

.menuaccount.col-md-3 ul{
	padding-left: 0px;
	    width: 285px;
    margin-left: -15px;
}
.menuaccount.col-md-3 ul p{
    padding: 9px;
    background: black;
    /* width: 100%; */
    color: #fff;
}
.menuaccount.col-md-3 ul li{
width: 285px;
    background: #0000008c;
    padding: 10px;
        margin-bottom: 10px;
}
.menuaccount.col-md-3{
    background-image: url(https://hinhnen.tv/wp-content/uploads/2018/03/hinh-nen-game-full-hd-dep-1.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.menuaccount ul {
	list-style: none;
}

.menuaccount ul li a{
	color: #fff;
	    margin-left: 40px;
}
.menuaccount ul li a:hover{
	    color: #1a16ff;
    text-decoration: none;
}

.menuaccount li a {
	padding-top: 15px;
}

td {
	font-weight: bold;
}
.menudeal_menu{
	margin-top: 75px;
}


.inforaccount {
	width: 70%;
	float: right; 

}
.inforaccount h1 {
	display: inline-block;
	font-size: 26px;
	font-weight: bold;
	margin-top: 50px;
	text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-collapse:collapse;
  margin-top: 20px;
}

td {
	font-weight: bold;
}