.container {

    width: 100%;
}

.main-center p {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.form-control {
    height: auto!important;
    padding: 15px 15px !important;
}

.main-center{
       width: 80%;
    margin: 0 auto;
    max-width: 400px;
    padding: 30px 25px;
    text-shadow: none;
    border: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    background: #000000cc;

}
span.input-group-addon i {
    color: black;
    font-size: 20px;
}

.login-button {
    background: yellow;
    color: white;
	text-align: center;
}
.login-form{
    background-image: url(http://anhbiafb.com/uploads/bai_viet/hinh-nen-facebook-lu-bo-lien-quan-1.jpg?1514023905740);
    padding: 50px 0;
}
.footer{
    margin-top: 0px !important;
}
label ,.main-center p  {
    color: #fff;
}
.btn-info {
    color: #fff!important;
    background-color: #4e4c59!important;
    border-color: #ffffff!important;
}